


@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype'),
         url('../fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

header {
    display: block;
    width: 100%;
    & img {
        width: 100%;
    }
}
h1 {
    font-size: 25px;
    outline: 0;
    &.line-under {
        border-bottom: 1px solid #959595;
        padding-bottom: 20px;
    }
}
h2 {
    font-size: 18px;
    font-weight: 400;
}
html {
    /* overflow: hidden; */
}
body {
    font-family: "opensans";
    color: #006A82;
    text-align: center;
    background-color: #FFF;
}
label, .label {
    font-size: 24px;
    font-weight: 600;
    padding: 17px;
    display: block;
}
.no-padding-top {
    padding-top: 0;
}
.hidden {
    display: none;
}
footer {

    bottom: 0;
    left: -10px;
    border-top: 1px solid #959595;
    margin: 30px 30px;
    display: block;
    padding-top: 20px;
    background: #FFF;
    & a {
        color: #006A82;
        font-size: 16px;
        text-decoration: none;
        outline: 0;

        &:hover, &:focus {
            text-decoration: underline;

        }
    }
}
button {
    
    display: inline-block;
    margin-bottom: 0;

    text-align: center;
    vertical-align: middle;
    /* -ms-touch-action: manipulation;
    touch-action: manipulation; */
    cursor: pointer;
    background-image: none;

    white-space: nowrap;
    padding: 6px 12px;

    line-height: 1.5;
    border-radius: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #006A82;
    color: #FFF;
    border: 1px solid #006A82;
    text-transform: none !important;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.1s ease;

    outline: 0;

    & img {
        width: 17px;
        line-height: 20px;
        /* margin-top: 10px; */
        position: relative;
        top: 1px;
        margin-right: 8px;

        &:nth-child(2) {
            display: none;
        }
    }

    &:hover, &:focus {
        color: #006A82;
        background-color: white;

        & img {
            &:first-child {
                display: none;
            }
            &:nth-child(2) {
                display: inline-block;
            }
        }
    }
}

button::-moz-focus-inner {
  border: 0;
}

select {
    color: #006A82;
    font-size: 18px;
    
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height: 40px;
        line-height: 40px;
        background:#f4f4f4;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}
#loader {
    max-width: 400px;
    margin: auto;
    & img {
        width: 100%;
        /* position: absolute; */
        outline: 0;
    }
}
.padding-top {
    margin-top: 20px;
}
.wrapper {
    padding: 0 2em;
    /* margin-bottom: 170px; */
}
.ui-button .ui-icon {
    background-image: url("../images/chevron_down.png");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background-image: url("../images/chevron_down.png");
}
.ui-selectmenu-button.ui-button {
    text-align: center;
    color: #006A82;
    background: #FFF;
        width: 90%;
        padding: 1em;
        margin-top: 10px;
        font-size: 18px;
}
.ui-icon-triangle-1-s {
    background-position: 0px 4px;
    background-size: 100%;
}
.select-wrapper {
    min-height: 40px;
    position: relative;
    border: 1px solid #959595;
    border-radius: 0;
    background-color: #fff;
    background-image: url("../images/dropdown-chevron.svg");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    & select {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        left: 0;
        /* left: calc(50% - 200px); */

        & + span {
            border: 1px solid white;
        }
        &:focus + span {
            /* outline: -webkit-focus-ring-color auto 5px; */
            border: 1px solid #006A82;
        }
    }
    & .select-val {
        pointer-events: none;
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 38px;
        font-size: 24px;
        left:0;
        line-height: 38px;

        & span {
            padding-right: 40px;
            width: 100%;
        }
    }
}
.plan-block {
    background: $gs-lightgrey;
    border:1px solid #CCC;
    padding-bottom: 30px;
    & .price-row {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    & .price {
        font-weight: 400;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 2.2em;
    }
    & #plan-name {
        color: black;
        background: #f3f3f3;
        margin: 0;
        padding: 10px;
        font-weight: 800;
    }
    & h2 {
        margin: 20px 0;
    }
    & p#price {
        font-size: 4rem;
        margin: 10px 0 10px 0;
        color: #555858;
        line-height: 44px;
        & sup {
            font-size: 40%;
            top: -1.1em;
        }
        & .per-month {
            font-size: 1rem;
            font-weight: 600;
            display: block;
        }
    }
}
.select-style {
  padding: 8px;
  margin: 0;
  border: 1px solid #959595;
  border-radius: 0.1875em;
  overflow: hidden;
  background-color: #fff;
  width: calc(100% - 20px);
  position: relative; }

  .select-style:after {
    content: '\e102';
    content: '';

    background-image: url("../images/chevron_down.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;

    width: 0.6875em;
    height: 0.5625em;
    color: #555858;
    /*border-top: 4px solid\9;*/
    pointer-events: none;
    position: absolute;
    right: 1em;
    top: calc(50% - 2px);
    font-family: 'Manupictos';
    font-size: 1.4375em;
    line-height: 0.6875em; }
  .select-style select {
    padding: 0.3125em 0.3125em 0.3125em 0.3125em;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .select-style select:focus {
      outline-offset: -0.25em; }
  .select-style select::-ms-expand {
    display: none; }
  .select-style.with-button:after {
    right: 45px; }
  .select-style.with-button select {
    padding-right: 55px; }
  .select-style.with-button .btn {
    width: 25px !important;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    padding: 0;
    height: 100%; }
    .select-style.with-button .btn:after {
      display: inline-block;
      font-size: 17px;
      line-height: 1.6em;
      width: 24px;
      height: 24px;
      font-family: 'Manupictos';
      content: ''; }
